// Background colors:
$accent-color: #607d8b;
$background-color: #48738a;
$light-background-color: #b0c8d1;

// Text colors:
$accent-text-color: #cfe1e8;
$light-text-color: #fff;
$dark-text-color: #575757;