@import "src/assets/styles";

.panel {
  margin-bottom: 30px;
  transition: all 0.3s ease;

  &:hover {
    box-shadow: 5px 5px 5px $light-background-color;
  }

  &__headingWrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  &__date {
    font-weight: bolder;
    color: grey;
  }

  &__categories {
    color: #607d8b;
  }
}