@import "src/assets/styles";

.panel {

  &__wrap {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  &__date {
    font-weight: bolder;
    color: grey;
    margin-right: 20px;
  }

  &__badge {
    margin-right: 20px;
    text-align: center;
  }

  &__button {
    background-color: $light-background-color!important;
  }

  &__button:not(:last-child) {
    border-right: 1px solid white;
  }

  &__group {
    margin-right: 30px;
  }

  &__categories {
    align-self: self-start;
  }

  &__radioWrap {
    width: 100%;
  }

  &__radio {
    padding: 0 10px!important;
  }

  &__radioIcon {
    width: 20px;
  }
}