@import "src/assets/styles";

.panel {

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  &__date {
    font-weight: bolder;
    color: grey;
    margin-right: 20px;
  }

  &__badge {
    margin-right: 20px;
    text-align: center;
    background: #ff6384!important;
    padding: 5px!important;
  }

  &__desc {
    display: flex;
    margin-bottom: 20px;

    & > p:first-of-type {
      margin-right: 5px;
      margin-top: 8px;
      display: inline-block;
      font-weight: 700;
    }
  }

  &__button {
    background-color: $light-background-color!important;
  }
}