// Background colors:
$accent-color: #607d8b;
$background-color: #7996a3;
$light-background-color: #93aeba;
$second-light-background-color: #b0c8d1;
$primary-color: #607d8b;

// Text colors:
$accent-text-color: #cfe1e8;
$light-text-color: #fff;
$dark-text-color: #575757;